[init]
	defaultBranch = main
[safe]
	directory = /root
[user]
	email = takemura2@gmail.com
	name = takemura
[credential]
	helper = "!f() { /root/.vscode-server/bin/74f6148eb9ea00507ec113ec51c489d6ffb4b771/node /tmp/vscode-remote-containers-5071ddaf-b606-40ab-9d85-876915d00fa1.js git-credential-helper $*; }; f"
